* {
    font-family: "JetBrains Mono", "Iosevka Nerd Font", archcraft, sans-serif;
    font-size: 12px;
}

#window {
	background-color: rgba(--wofi-rgb-color0, 0.8);
	color: --wofi-color2;
	border: 1px solid --wofi-color3;
	border-radius: 8px;
}

#outer-box {
	padding: 20px;
}

#input {
	background-color: rgba(--wofi-rgb-color0, 0.8);
	border: 1px solid --wofi-color3;
	padding: 8px 12px;
}

#scroll {
	margin-top: 20px;
}

#inner-box {
}

#img {
	padding-right: 8px;
  background: none;
}

#text {
	color: --wofi-color2;
}

#text:selected {
	color: --wofi-color0;
  background: none;
}

#entry {
	padding: 6px;
}

#entry:selected {
	background-image: linear-gradient(to right, --wofi-color4 , --wofi-color5);
  border: none;
	color: --wofi-color0;
}

#unselected {
}

#selected {
}

#input, #entry:selected {
	border-radius: 30px;
}
